<table mat-table [dataSource]="processedData" class="mat-elevation-z8" *ngIf="processedData.length > 0">

  <!-- Sampling Time Column -->
  <ng-container matColumnDef="samplingTime">
    <th mat-header-cell *matHeaderCellDef> Sampling Time </th>
    <td mat-cell *matCellDef="let element"> {{ element.samplingTime | date: 'dd-MM-yyyy hh:mm:ss a' }} </td>
  </ng-container>

  <!-- Project Name Column -->
  <ng-container matColumnDef="projectName">
    <th mat-header-cell *matHeaderCellDef> Project Name </th>
    <td mat-cell *matCellDef="let element"> {{ element.projectName }} </td>
  </ng-container>

  <!-- Construction Count Column -->
  <ng-container matColumnDef="constructionCount">
    <th mat-header-cell *matHeaderCellDef> Construction Count </th>
    <td mat-cell *matCellDef="let element"> {{ element.constructionCount }} </td>
  </ng-container>

  <!-- Is Construction Completed Column -->
  <ng-container matColumnDef="isCompleted">
    <th mat-header-cell *matHeaderCellDef> Is Construction Completed </th>
    <td mat-cell *matCellDef="let element"> {{ element.isCompleted }} </td>
  </ng-container>

  <!-- Length of the road Column -->
  <ng-container matColumnDef="lengthOfRoad">
    <th mat-header-cell *matHeaderCellDef> Length of the road </th>
    <td mat-cell *matCellDef="let element"> {{ element.lengthOfRoad }} </td>
  </ng-container>

  <!-- Header and Row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
